.battle-page {
    text-align: center;
    padding: 20px;
  }
  
  .pokemon-selection h2 {
    margin-bottom: 40px; 
    font-family: 'Press Start 2P', cursive; 
    font-size: 50px;
    color: #f39c12; 
    text-shadow: 0 0 10px #f39c12; 
    animation: glow 1.5s ease-in-out infinite; 
  }
  
  @keyframes glow {
    0% { text-shadow: 0 0 10px #f2ae42, 0 0 20px #f2ae42, 0 0 30px #f2ae42, 0 0 40px #f2ae42, 0 0 50px #f2ae42, 0 0 60px #f2ae42, 0 0 70px #f2ae42; }
    50% { text-shadow: 0 0 20px #f1d5a6, 0 0 30px #f1d5a6, 0 0 40px #f1d5a6, 0 0 50px #f1d5a6, 0 0 60px #f1d5a6, 0 0 70px #f1d5a6, 0 0 80px #f1d5a6; }
    100% { text-shadow: 0 0 10px #f3bd65, 0 0 20px #f3bd65, 0 0 30px #f3bd65, 0 0 40px #f3bd65, 0 0 50px #f3bd65, 0 0 60px #f3bd65, 0 0 70px #f3bd65; }
  }
  
  .pokemon-container {
    display: flex;
    overflow-x: auto; 
    padding: 20px; 
    width: 100%;
    scroll-behavior: smooth; 
    position: relative;
    margin-bottom: 40px; 
  }
  
  .pokemon-item {
    flex: 0 0 auto;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .pokemon-item img {
    width: 150px; 
    height: 150px;
    object-fit: contain; 
  }
  
  .pokemon-item.selected {
    transform: scale(1.2); 
    border: 2px solid #f7f3f3; 
  }
  
 
  .pokemon-container::-webkit-scrollbar {
    height: 100px; 
  }
  
  .pokemon-container::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  .pokemon-container::-webkit-scrollbar-thumb {
    background: url('../assets/images/pokeball-pokeball-clip-art-png-clipart-transformed.png') no-repeat center center;
    background-size: 90px 90px; 
    border-radius: 50%;
    border: 2px solid #f7f3f3;
  }
  
  .pokemon-container::-webkit-scrollbar-thumb:hover {
    background: url('../assets/images/pokeball-pokeball-clip-art-png-clipart-transformed.png') no-repeat center center;
    background-size: 50px 50px;
    opacity: 0.8; 
  }
  
  .start-battle {
    margin-top: 20px; 
    background-color: #f39c12; 
    border: 2px solid #e67e22; 
    border-radius: 12px; 
    padding: 20px 60px; 
    font-family: 'Press Start 2P', cursive; 
    font-size: 24px; 
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .start-battle:hover {
    background-color: #e67e22;
    border-color: #d35400;
  }
  
  .start-battle:active {
    transform: scale(0.95); 
  }
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  