.pokemon-list-container {
    text-align: center;
}

.pokemon-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Širina liste da bude 100% */
}

.pokemon-list li {
    background-color: #FFA500; /* Narandžasta boja */
    color: white; /* Bela boja za tekst radi bolje čitljivosti */
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px; /* Zaobljeni ivice */
    list-style: none; /* Uklanja defaultne oznake liste */
    display: flex;
    justify-content: space-between; /* Ravnomerno razmakni sadržaj */
    align-items: center;
    width: 100%; /* Širina stavki liste da bude 100% */
    box-sizing: border-box; /* Uključi padding i border u ukupnu širinu */
}

.pokemon-list li.favorite {
    background-color: #FF6347; /* Tamnija narandžasta za omiljene */
}

.pokemon-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px auto; /* Centriraj karticu */
    border-radius: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 100%; /* Širina kartica da bude 100% */
    box-sizing: border-box; /* Uključi padding i border u ukupnu širinu */
    background-color: #FFA500; /* Narandžasta boja za karticu */
}

.pokemon-name {
    font-size: 24px;
    font-weight: bold;
    color: #007bff; /* Plava boja za naziv Pokémona */
    margin-bottom: 10px;
}

.pokemon-stats, .pokemon-abilities {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.favorite .pokemon-card {
    background-color: #ffffe0;
}

.pagination {
    display: flex;
    justify-content: center; /* Centriranje paginacije */
    margin-top: 20px;
    padding: 0;
    list-style: none; /* Uklanjanje defaultnog stila liste */
}

.pagination button,
.pagination a {
    margin: 0 85px; /* Razmak između stranica */
    padding: 10px 15px;
    border: 1px solid #007bff;
    background-color: white; /* Bela pozadina za dugmad */
    color: #007bff; /* Plava boja teksta */
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.pagination button:hover,
.pagination a:hover {
    background-color: #007bff; /* Plava pozadina na hover */
    color: white;
}

.pagination .active a {
    background-color: #007bff; /* Plava pozadina za aktivnu stranicu */
    color: white;
    border-color: #007bff;
}


.pokemon-form {
    margin: 20px;
}

.pokemon-form form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Razmak između polja */
}

.pokemon-form label {
    width: 30px; /* Širina label-a */
    display: flex;
    align-items: center;
    margin-right: 42px; /* Razmak između label-a i inputa */
}

.pokemon-form input, .pokemon-form select {
    flex: 1; /* Širina polja */
    max-width: 120px; /* Maksimalna širina polja */
}

.pokemon-form button {
    margin-top: 10px;
}

.pokemon-form button:hover {
    background-color: #e65705;
}

.favorite {
    background-color: #ffe5b4;
    border-color: #e65705;
}

.search-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Razmak između elemenata */
    margin-bottom: 20px; /* Razmak između filtera i liste */
}

.search-filter input,
.search-filter select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Uključi padding u ukupnu širinu */
}

.search-filter button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff; /* Plava boja za dugme */
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search-filter button:hover {
    background-color: #0056b3; /* Tamnija plava za hover efekat */
}


