.pokemon-list-container {
    text-align: center;
}

.pokemon-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; 
}

.pokemon-list li {
    background-color: #FFA500; 
    color: white; 
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px; 
    list-style: none; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    box-sizing: border-box; 
}

.pokemon-list li.favorite {
    background-color: #FF6347; 
}

.pokemon-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px auto; 
    border-radius: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 100%; 
    box-sizing: border-box; 
    background-color: #FFA500; 
}

.pokemon-name {
    font-size: 24px;
    font-weight: bold;
    color: #007bff; 
    margin-bottom: 10px;
}

.pokemon-stats, .pokemon-abilities {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.favorite .pokemon-card {
    background-color: #ffffe0;
}

.pagination {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
    padding: 0;
    list-style: none; 
}

.pagination button,
.pagination a {
    margin: 0 85px; 
    padding: 10px 15px;
    border: 1px solid #007bff;
    background-color: white; 
    color: #007bff; 
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.pagination button:hover,
.pagination a:hover {
    background-color: #007bff; 
    color: white;
}

.pagination .active a {
    background-color: #007bff; 
    color: white;
    border-color: #007bff;
}


.pokemon-form {
    margin: 20px;
}

.pokemon-form form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

.pokemon-form label {
    width: 30px; 
    display: flex;
    align-items: center;
    margin-right: 42px; 
}

.pokemon-form input, .pokemon-form select {
    flex: 1; 
    max-width: 120px; 
}

.pokemon-form button {
    margin-top: 10px;
}

.pokemon-form button:hover {
    background-color: #e65705;
}

.favorite {
    background-color: #ffe5b4;
    border-color: #e65705;
}

.search-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    margin-bottom: 20px; 
}

.search-filter input,
.search-filter select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
}

.search-filter button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search-filter button:hover {
    background-color: #0056b3; 
}


